<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Access-Control-Allow-Origin" content="*"> 
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <template>
        <todo-item
          is="todo-item"
          v-for="(todo, index) in todos"
          v-bind:key="todo.id"
          v-bind:title="todo.title"
	  v-bind:content="todo.content"
        ></todo-item>
    </template>
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script>
  Vue.component('todo-item', {
    template: '\
	  <div style="background-color:#FFFFFF">\
	    {{ title }}<br>\
	    {{ content }}\
	    <i class="el-icon-info"><br></i><br>\
	    <div style="height:10px;background-color:#FFFFFF"></div>\
            <el-form :model="blog_comment" :rules="rules" ref="blog_comment" label-width="120px" size="mini">\
              <el-form-item label="nickname" prop="nickname">\
                <el-input  v-model="blog_comment.nickname"></el-input>\
              </el-form-item>\
	      <el-form-item lable="email" prop="email">\
	        <el-input v-model="blog_comment.email" prop="email"></el-input>\
	      </el-form-item>\
              <el-form-item label="comment" prop="comment">\
                <el-input  type="textarea" placeholder="Please input your blog comment" v-model="blog_comment.comment"></el-input>\
              </el-form-item>\
              <el-form-item>\
                <el-button type="primary" v-model="submit">submit</el-button>\
              </el-form-item>\
            </el-form>\
	  </div>\
    ',
    props: ['title', 'content'],
    data(){
      return {
        "blog_comment": {
          "nickname": "",
          "email": "",
          "comment":""
        },
      }
    }
  });

  var v = new Vue({
    el: "#app",
    data: function(){
	    return {
	       "todos": []
	    }  
          },
    methods: {
        show_my_blogs: function(){
	    this.$http.jsonp("http://localhost:8080/statistic").then(function(jsondata){
	        blog_form_body = jsondata.body;
	        console.log(JSON.stringify(blog_form_body));
		blog_form_data = []
		for(var i=0;i<blog_form_body.length;i++){
		    blog_form_data.push({
		        "title": blog_form_body[i].ip, 
			"content": blog_form_body[i].count
		    });
		}
		this.todos = blog_form_data;
	      },function(res){
	        console.log("error");
		alert("Error: "+ res);
	      });
        }
    }
  });
  v.show_my_blogs();
</script>
</html>
